In [15]:
#Importing libraries 
import numpy as np
import pandas as pd
import scipy
from scipy.stats import ttest_ind

In [5]:
#Importing csv
data=pd.read_csv("data.csv")
print(data.head(2))
data.shape

   Seq No  intnum  persnum  age  educatn  earnings  hours  kids   married
0       1       4        4   39     12.0     77250   2940     2   married
1       2       4        6   35     12.0     12000   2040     2  divorced

(4856, 9)

In [14]:
#Data Cleaning 
temp=data[data['kids']<98]
data=temp[temp['educatn']<98]
data.shape
data.to_csv("dataEdited.csv",index=False)

In [7]:
data['kidsNew']=np.where(data['kids']<=2,'k1','k2')
data['marriedNew']=np.where(data['married']=='married','m1','m2')
data.head(2)

C:\Users\199309K\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\199309K\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Seq No,intnum,persnum,age,educatn,earnings,hours,kids,married,kidsNew,marriedNew
0,1,4,4,39,12.0,77250,2940,2,married,k1,m1
1,2,4,6,35,12.0,12000,2040,2,divorced,k1,m2

In [24]:
#Two sample T test 
x=data[data['kidsNew']=='k1'].earnings
y=data[data['kidsNew']=='k2'].earnings

stat, p = ttest_ind(x,y)

In [25]:
p

2.408020927453231e-41