In [12]:
import pandas as pd
import numpy as np

In [3]:
master=pd.read_csv("PSID (1).csv")

# Data Pre Processing

In [26]:
master1=master[master['kids']<98]
master2=master1[master1['educatn']<98]
master2.shape

master2['Kids_New']=np.where(master2['kids']<=2,"k1","k2")
master2['Married_New']=np.where(master2['married']=="married","m1","m2")
master2.shape

C:\Users\199354R\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\199354R\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(4528, 11)

In [23]:
master2.head(10)

,Seq No,intnum,persnum,age,educatn,earnings,hours,kids,married,Kids_New,Married_New
0,1,4,4,39,12.0,77250,2940,2,married,k1,m1
1,2,4,6,35,12.0,12000,2040,2,divorced,k1,m2
2,3,4,7,33,12.0,8000,693,1,married,k1,m1
3,4,4,173,39,10.0,15000,1904,2,married,k1,m1
4,5,5,2,47,9.0,6500,1683,5,married,k2,m1
5,6,6,4,44,12.0,6500,2024,2,married,k1,m1
6,7,6,172,38,16.0,7000,1144,3,married,k2,m1
7,8,7,4,38,9.0,5000,2080,4,divorced,k2,m2
8,9,7,170,39,12.0,21000,2575,3,married,k2,m1
9,10,7,171,37,11.0,0,0,5,married,k2,m1

T test to see if there is a difference between earnings of married and other people

In [42]:
## Import the packages
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

m1=master2[master2['Married_New']=='m1'].earnings
m2=master2[master2['Married_New']=='m2'].earnings

stat, p = ttest_ind(m1,m2)
p

0.0004769148055880568

Mariied persons earnings are different with compared to other people

In [44]:
np.mean(m1)

15097.912423625254

In [46]:
np.mean(m2)

13350.163716814159